@import "../../styles/mixin";

.container {
  padding: 1.5em 0;
  background: #000;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 3;
  color: #fff;
}
.content {
  @include flexRegular(row, space-between);
  width: 80%;
  max-width: 1300px;
  margin: auto;
  //background: pink;
}

.right {
  button {
    @include btnRegular(12vw);
    max-width: 180px;
    min-width: 120px;
    // font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
}

@media (max-width: 910px) {
  .content {
    width: 95%;
  }
  .right {
    button {
      width: 20vw;
    }
  }
}
@media (max-width: 560px) {
  .right {
    button {
      width: 35vw;
    }
  }
}
