.intro {
  background: #fff;
  //background: pink;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  //animation: intro;
  animation: intro 0.9s ease forwards 4.7s;
}
.introLeft {
  background: #fff;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: leftSlide 0.9s ease forwards 5s;
}
.introRight {
  background: #fff;
  //background: pink;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  //   justify-content: center;
  align-items: center;
  animation: rightSlide 0.9s ease forwards 5s;
}
.slider {
  background: #007bff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  //animation: vanish 0.5s ease forwards 4.6s;
}

// .logoSh {
//   svg {
//     path:nth-child(1) {
//       stroke-dasharray: 219.5;
//       stroke-dashoffset: 219.5;
//       animation: line-anim 1.5s ease forwards;
//       animation: fill1 0.5s ease forwards 3s;
//     }
//     path:nth-child(2) {
//       stroke-dasharray: 219.5;
//       stroke-dashoffset: 219.5;
//       animation: line-anim 1.5s ease forwards 0.5s;
//       //animation: fill2 0.5s ease forwards 3s;
//     }
//     path:nth-child(3) {
//       stroke-dasharray: 219.5;
//       stroke-dashoffset: 219.5;
//       animation: line-anim 1.5s ease forwards 1s;
//       //animation: fill3 0.5s ease forwards 3s;
//     }
//   }
// }
.logoSh {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -3.4em;

  svg:nth-child(1) {
    animation: fill1 0.5s ease forwards 1.4s;
    path {
      stroke-dasharray: 219.5;
      stroke-dashoffset: 219.5;
      animation: line-anim 1s ease forwards;
    }
  }
  svg:nth-child(2) {
    position: absolute;
    left: 1em;
    bottom: 5px;
    animation: shape-anim 2s ease forwards 3s;
    animation: fill2 0.5s ease forwards 1.7s;

    path {
      stroke-dasharray: 219.5;
      stroke-dashoffset: 219.5;
      animation: line-anim 1s ease forwards 0.5s;
    }
  }
  svg:nth-child(3) {
    position: absolute;
    left: 2em;
    bottom: 10px;
    animation: shape-anim 2s ease forwards 3s;
    animation: fill3 0.5s ease forwards 2s;

    path {
      stroke-dasharray: 219.5;
      stroke-dashoffset: 219.5;
      animation: line-anim 1s ease forwards 1s;
    }
  }
}
.logoTx {
  margin-left: -0.5em;
  //margin-left: 2.5em; ---
  //animation: text-anim 2s ease forwards 3.75s;
  svg {
    animation: fill4 1.1s ease forwards 3.8s;

    path {
      stroke-dasharray: 1289.6;
      stroke-dashoffset: 1289.6;
      animation: line-anim 8s ease forwards 2.5s;
    }
  }
}
@keyframes intro {
  to {
    transform: translateY(-100%);
  }
}
@keyframes leftSlide {
  to {
    //transform: translateX(100%);
    left: -50%;
  }
}
@keyframes rightSlide {
  to {
    //transform: translateX(100%);
    right: -65%;
  }
}
@keyframes vanish {
  to {
    opacity: 0;
  }
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes shape-anim {
  to {
    left: -3em;
    //bottom: 0;
  }
}
// @keyframes text-anim {
//   to {
//     margin-left: 0.5em;
//   }
// }
@keyframes fill1 {
  from {
    fill: transparent;
  }
  to {
    fill: #d9d9d9;
  }
}
@keyframes fill2 {
  from {
    fill: transparent;
  }
  to {
    fill: #c8c8c8;
  }
}
@keyframes fill3 {
  from {
    fill: transparent;
  }
  to {
    fill: #929292;
  }
}
@keyframes fill4 {
  from {
    fill: transparent;
  }
  to {
    fill: black;
  }
}

@media (max-width: 450px) {
  .introLeft {
    justify-content: center;
  }
  .introRight {
    justify-content: flex-start;
    //background: lavender;
  }
  .logoSh {
    left: -1.5em;
    svg {
      width: 63px;
      height: 67px;
    }
  }
  .logoTx {
    margin-left: -3em;
    svg {
      width: 209px;
      height: 68px;
    }
  }
}
