@import "../../styles/mixin";

// ----- Hero ---- //
.hero {
  position: relative;
  cursor: none;
}
.heroContent {
  display: flex;
  color: #fff;
  width: 80%;
  max-width: 1300px;
  margin: auto;
  padding-top: 5em;
}
.heroLeft,
.heroRight {
  width: 50%;
}

.heroLeftContent {
  //background: #0e0e0e;
  //margin: 8em 0;
  padding: 2em 0;
  h2 {
    font-family: AeonikBold;
    font-weight: bold;
    //font-family: 4em;
    font-size: 5.4vw;
    line-height: 90px;
    overflow: hidden;
    width: 95%;
    min-width: 500px;
    //background: pink;
    span {
      display: inline-block;
    }
    .heroImp {
      color: #007bff;
    }
  }
  p {
    margin: -1.4em 0 2em 0;
    width: 75%;
    color: rgba(255, 255, 255, 0.83);
    line-height: 26px;
    font-size: 1.03em;
  }
  button {
    @include btnRegular(220px);
    // max-width: 200px;
    // min-width: 180px;
    // width: 13vw;
    font-weight: 500;
    font-size: 15px;
  }
}
.heroRight {
  //background: #0e0e0e;
  position: relative;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.circle1 {
  position: absolute;
  right: -1em;
}
.heroImg {
  //   margin-left: 50%;
  margin-right: 1em;
  position: relative;
  z-index: 1;

  img {
    width: 100%;
    max-width: 380px;
    height: 100%;
  }
}
.circle2 {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 4em;
  position: absolute;
}
.polygon1 {
  position: absolute;
  left: -2.5em;
  //top: 10em;
  bottom: 14em;
  z-index: -1;
}

@media (min-width: 1815px) {
  .heroLeft {
    width: 65%;
    //background: lavender;
  }
  .heroRight {
    width: 45%;
  }
  .heroContent {
    h2 {
      font-size: 6.5em;
      margin-bottom: 40px;
      line-height: 105px;
      width: 100%;
    }
  }
}

@media (max-width: 910px) {
  .heroContent {
    width: 95%;
  }
  .heroLeftContent {
    padding: 4em 0;
    h2 {
      line-height: 65px;
    }
  }
}

@media (max-width: 800px) {
  .hero {
    // background: #353434;
    width: 100vw;
  }
  .heroContent {
    flex-direction: column;
  }
  .heroLeft,
  .heroRight {
    width: 95%;
    margin: auto;
  }
  .heroLeft {
    text-align: center;
    //background: pink;
    h2,
    p {
      width: 100%;
    }
    h2 {
      font-size: 4em;
    }
  }
  .heroRight {
    margin-top: 2em;
    align-items: center;
  }
  .circle1 {
    display: none;
  }
}

@media (max-width: 545px) {
  .heroLeft {
    h2 {
      font-size: 3em;
      //background: #353434;
      min-width: 1px;
    }
    button {
      width: 55vw;
    }
  }
  .heroRight {
    margin-top: 0;
  }
}

// ----- Built Section ---- //
.builtSection {
  margin-top: 3em;
  padding: 3em 0;
  background: linear-gradient(
    230.15deg,
    #232222 35.84%,
    rgba(35, 34, 34, 0.27) 69.06%
  );
}
.builtContent {
  text-align: center;
  max-width: 1300px;
  margin: auto;
  h3 {
    color: rgba(255, 255, 255, 0.88);
    font-family: AeonikBold;
    font-size: 2.3em;
    width: 60%;
    margin: auto;

    span {
      color: #007bff;
    }
  }
  p {
    width: 65%;
    margin: 1.5em auto;
    color: #ffffffdd;
    font-size: 18px;
    font-weight: lighter;
  }
}
.builtLogos {
  width: 55%;
  margin: 3em auto 1em auto;
  @include flexRegular(row, space-between);
}
@media (max-width: 1080px) {
  .builtContent {
    h3 {
      width: 60%;
    }
  }
  .builtLogos {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .builtContent {
    h3,
    p {
      width: 80%;
    }
  }
  .builtLogos {
    width: 95%;
  }
}
@media (max-width: 520px) {
  .builtContent {
    h3,
    p {
      width: 95%;
    }
    h3 {
      font-size: 28px;
    }
    p {
      font-size: 17px;
    }
  }
  .builtLogos {
    @include flexRegular(column, space-between);
    img {
      margin-bottom: 3em;
    }
  }
}

// ----- Help Section ---- //
.helpSection {
  position: relative;
  margin: 6em 0 3em 0;
}
.circle3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.helpContent {
  width: 80%;
  max-width: 1300px;
  @include flexRegular(row, space-between);
  margin: auto;
  padding-bottom: 5em;
}
.helpText {
  width: 45%;
  h4 {
    color: rgba(255, 255, 255, 0.94);
    font-family: AeonikBold;
    font-size: 18px;
    width: 90%;
    span {
      color: #007bff;
    }
  }
  h3 {
    font-family: AeonikBold;
    font-size: 31px;
    color: #fff;
    margin: 0.8em 0;
    width: 80%;
  }
  p {
    font-size: 17.5px;
    width: 70%;
    color: #ffffffd3;
  }
}
.boxes {
  width: 53%;
}
.boxRows {
  @include flexRegular(row, flex-start);
  margin-bottom: 3em;
  .box:nth-child(1) {
    padding: 1em 1.5em;
    background: linear-gradient(
      135.76deg,
      #232222 32.87%,
      rgba(35, 34, 34, 0.27) 75.33%
    );
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px 0px;
  }
  .box:nth-child(2) {
    margin-left: 2em;
    padding: 1em 1.5em;
    background: linear-gradient(
      75.76deg,
      #232222 32.87%,
      rgba(35, 34, 34, 0.27) 75.33%
    );
    backdrop-filter: blur(2px);
    // transform: rotate(179.89deg);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px 0px;
  }
  .box {
    color: #fff;
    h3 {
      margin: 1em 0;
      font-family: AeonikBold;
      font-size: 16px;
    }
    p {
      width: 85%;
    }
  }
}
@media (max-width: 1080px) {
  .boxes {
    width: 55%;
  }
  .boxRows {
    align-items: stretch;
  }
}
@media (max-width: 910px) {
  .helpContent {
    width: 95%;
  }
}
@media (max-width: 750px) {
  .helpContent {
    @include flexRegular(column, space-between);
  }
  .helpText,
  .boxes {
    width: 95%;
  }
  .boxes {
    margin-top: 3em;
  }
  .helpText {
    h3,
    p {
      width: 90%;
    }
  }
  .boxRows {
    .box {
      p {
        width: 95%;
      }
    }
  }
}
@media (max-width: 450px) {
  .boxRows {
    @include flexRegular(column, flex-start);
    margin-bottom: 0.5em;
    .box {
      margin-bottom: 2em;

      h3,
      p {
        width: 85%;
      }
      p {
        font-size: 1.1em;
      }
    }
    .box:nth-child(1) {
      margin-left: 0;
      padding: 2em 1.5em;
    }
    .box:nth-child(2) {
      margin-left: 0;
      padding: 2em 1.5em;
    }
  }
}

// ----- Products Section ---- //

.products {
  //margin: 4em 0;
  color: #fff;
  padding-bottom: 5em;
}
.productsContent {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}
.productTxt {
  text-align: center;
  h3 {
    color: #ffffffea;

    font-family: AeonikBold;
    span {
      color: #007bff;
    }
  }
  h2 {
    margin: 1em 0;
    font-family: AeonikBold;
    font-size: 2em;
  }
}
.productBoxes {
  margin: 1.5em 0;
  width: 86%;
  margin: auto;
}
.productBoxBig {
  margin-top: 3em;
  background: linear-gradient(
    -35.76deg,
    #1f1f1f 32.87%,
    rgba(35, 34, 34, 0.27) 75.33%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px 0px;
  padding: 2.4em 3em;
  @include flexRegular(row, space-between);
  align-items: center;
}
.pBBTxt {
  h3 {
    font-family: AeonikBold;
    font-size: 1.9em;
    margin-top: 10px;
  }
  p {
    margin: -10px 0 0.5em 0;
    width: 90%;
    font-weight: lighter;
    color: #ffffffd7;
  }
  button {
    @include btnRegular(170px);
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1em;
  }
}
.pBBImg {
  img {
    transform: scale(1.06);
    width: 100%;
    height: 100%;
    margin-left: -10px;
  }
}
.productBoxRow {
  @include flexRegular(row, space-between);
  align-items: stretch;
  margin: 2em 0;
}
.productBoxSmall {
  position: relative;
  background: linear-gradient(
    135.76deg,
    #232222 32.87%,
    rgba(35, 34, 34, 0.27) 75.33%
  );
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px 0px;
  padding: 2em 2em 0 2em;
  @include flexRegular(column, space-between);
  // align-items: baseline;
  width: 47%;
  height: 470px;
}
.pBSTxt {
  h3 {
    font-family: AeonikBold;
    font-size: 1.9em;
  }
  p {
    margin: 0.5em 0;
    width: 90%;
    font-weight: lighter;
    color: #ffffffd7;
  }
  button {
    @include btnRegular(170px);
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1.4em;
  }
}
.pBSImg {
  //background: pink;
  // width: 90%;
  // height: 90%;
  position: absolute;
  bottom: -2px;
}
@media (max-width: 910px) {
  .productsContent {
    width: 95%;
  }
  .productBoxes {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .productBoxBig {
    @include flexRegular(column, center);
    align-items: center;
    text-align: center;
  }
  .pBBTxt {
    h3 {
      font-size: 2.2em;
    }
    p {
      width: 100%;
    }
  }
  .pBBImg {
    margin-top: 3em;
  }
  .productBoxRow {
    //margin: 1em 0;
    @include flexRegular(column, space-between);
  }
  .productBoxSmall {
    width: 100%;
    margin: 2em 0;
    height: 520px;
  }
  .pBSTxt {
    text-align: center;
    h3 {
      font-size: 2.2em;
    }
    p {
      width: 100%;
    }
    button {
      margin-bottom: 1em;
    }
  }
}

// ----- Compliance Section ---- //
.compliance {
  margin: 0 0 4em 0;
  position: relative;
  color: #fff;
}
.polygon2 {
  position: absolute;
  top: 0;
  left: 45%;
}
.complianceContent {
  padding: 5em 0 3em 0;
  @include flexRegular(row, space-between);
  width: 80%;
  max-width: 1300px;
  margin: auto;
}
.complianceTxt {
  width: 46%;
  h3 {
    color: #ffffffdb;
    span {
      color: #007bff;
    }
    font-family: AeonikBold;
    font-size: 16px;
  }
  h2 {
    margin: 1em 0;
    font-family: AeonikBold;
    font-size: 2.2em;
  }
  p {
    margin: 1.5em 0;
    width: 85%;
    color: #ffffffee;
    line-height: 21px;
  }
}
.complianceImg {
  position: relative;
  //width: 46%;
  //background: pink;
}
.complyImg {
  position: absolute;
  top: 2em;
  left: 4.6em;
}
@media (max-width: 1024px) {
  .complianceContent {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .complianceContent {
    padding-top: 7em;
    width: 95%;
    @include flexRegular(column, space-between);
  }
  .complianceTxt {
    h2 {
      width: 70%;
    }
  }
  .complianceTxt,
  .complianceImg {
    width: 90%;
  }
  .complianceImg {
    margin-top: 1.5em;
    text-align: center;
  }
  .complyImg {
    position: absolute;
    top: 2em;
    left: 30%;
  }
}
@media (max-width: 480px) {
  .complianceTxt {
    h2 {
      width: 90%;
    }
    p {
      width: 95%;
    }
  }
  .complianceImg {
    img {
      width: 95%;
      height: 95%;
    }
  }
  .complyImg {
    position: absolute;
    top: 2em;
    left: 16%;
    img {
      width: 90%;
    }
  }
}

// ----- Offerings Section ---- //
.offering {
  position: relative;
  color: #fff;
}
.circle4 {
  position: absolute;
  right: 0;
  top: 2em;
}
.offeringContent {
  width: 80%;
  max-width: 1300px;
  margin: auto;
  //background: #0e0e0e;
}
.offeringTitle {
  text-align: center;
  h2 {
    margin: 1em 0;
    font-family: AeonikBold;
    font-size: 2.2em;
    //color: #ffffffda;
    span {
      color: #007bff;
    }
  }
  p {
    margin: -10px auto 1.5em auto;
    width: 60%;
    font-size: 1.1em;

    color: #ffffffee;
    line-height: 21px;
  }
}
.offerings {
  margin: 4em 0 1.5em 0;
}
.offeringRow {
  @include flexRegular(row, space-between);
  margin: 4em 0 3em 0;
}
.offeringBox {
  width: 30%;
  padding: 1em 1.5em;
  h3 {
    font-family: AeonikBold;
    font-size: 1em;
    margin: 1.5em 0;
  }
  p {
    color: #ffffffda;
  }
  transition: 0.4s ease-in-out;
  &:hover {
    background: linear-gradient(
      -35.76deg,
      #1f1f1f 32.87%,
      rgba(35, 34, 34, 0.27) 75.33%
    );
    background: rgba(52, 51, 51, 0.27);
    box-shadow: 48px 4px 8px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 910px) {
  .offeringContent {
    width: 95%;
  }
}
@media (max-width: 650px) {
  .circle4 {
    display: none;
  }
  .offeringBox {
    padding: 1em 0;
  }
}
@media (max-width: 460px) {
  .offeringContent {
    padding-top: 2em;
  }
  .offeringTitle {
    p {
      width: 90%;
    }
  }
  .offeringRow {
    @include flexRegular(column, space-between);
    margin: 0;
  }
  .offeringBox {
    width: 90%;
    margin-bottom: 1em;
  }
}
